<section class='hero'>
  <h2 class='hero__tittle--hide'>
    {{{currentValue.hero_tittle}}}
  </h2>

  <div class='container-hero'>
    <div class='hero__wrap'>
      {{{heroValue}}}
    </div>
  </div>
</section>
<section class='gallery'>
  <h2 class='gallery__tittle--hide'>
    {{{currentValue.gallery_title}}}
  </h2>
  <div class='container'>
    <ul class='gallery-list'>
    </ul>
    {{{spinnerMarkUp}}}
  </div>
  <div class='pagination-container'>
  </div>
</section>

{{{backdropMarkUp}}}
{{{blockHelpMarkup}}}