<div class='modal-one-movie'>
  <div class='modal-one-movie__scroll-box'>
    <div class='modal-one-movie__image-box'>
      <div class='modal-one-movie__image'>
        <img src={{poster_path}} alt='{{title}}' loading="lazy" width='274' height='398' />
      </div>
    </div>
    <div class='modal-one-movie__text-box'>
      <h3 class='modal-one-movie__title'>{{original_title}}</h3>
      <table class='modal-one-movie__table'>
        <caption class='modal-one-movie__caption'>about movie</caption>
        <tr class='modal-one-movie__table--row'>
          <td class='modal-one-movie__table--first-list'>Vote / Votes</td>
          <td class='modal-one-movie__table--second-list'>
            <span class='modal-one-movie__text-box-accent'>
              {{vote_average}}
            </span>
            {{vote_count}}
          </td>
        </tr>
        <tr class='modal-one-movie__table--row'>
          <td class='modal-one-movie__table--first-list'>Popularity</td>
          <td class='modal-one-movie__table--second-list'>{{popularity}}</td>
        </tr>
        <tr class='modal-one-movie__table--row'>
          <td class='modal-one-movie__table--first-list'>Genre</td>
          <td class='modal-one-movie__table--second-list'>
            {{#each genres}}
            {{name}}
            {{/each}}</td>
        </tr>
        <tr class='modal-one-movie__table--row'>
          <td class='modal-one-movie__table--first-list'>Original title</td>
          <td class='modal-one-movie__table--second-list'>{{original_title}}</td>
        </tr>
      </table>
      <div class='modal-one-movie__about-box'>
        <h4 class='modal-one-movie__about'>About</h4>
        <p class='modal-one-movie__about-text'>
          {{overview}}
        </p>
      </div>

      <div class='modal-one-movie__button-box'>
        <button class='global-button btn__watch' data-set='watched' aria-label="watched">Add to
          watched</button>
        <button class='global-button btn__queue' data-set='queue' aria-label="queue">Add to queue</button>
      </div>
    </div>
  </div>
</div>