<div class='modal-one-movie'>
  <div class='modal-one-movie__scroll-box'>
    <div class='modal-one-movie__image-box'>
      <div class='modal-one-movie__image'>
        <picture class='modal-one-movie__image--picture'>
          <source srcset='{{dataFixed.poster_path}}' media='(min-width: 1024px)' />
          <source srcset='{{dataFixed.poster_path}}' media='(min-width: 768px)' />
          <img srcset='{{dataFixed.poster_path}}' src='{{dataFixed.poster_path}}' alt='{{dataFixed.title}}' />
        </picture>
        <div class='youtube-trailer'>
          <button class='youtube-btn' data-set='watched' aria-label='queue'>
            <svg class='youtube-svg' width="46px" height="32px">
              <use href="{{svg}}#youtube-btn"></use>
            </svg>
          </button>
          <p class="no-trailer no-trailer-hidden">Trailer not found</p>
        </div>
      </div>
    </div>
    <div class='modal-one-movie__text-box'>
      <h3 class='modal-one-movie__title'>{{dataFixed.original_title}}</h3>
      <table class='modal-one-movie__table'>
        <caption class='modal-one-movie__caption'>about movie</caption>
        <tr class='modal-one-movie__table--row'>
          <td class='modal-one-movie__table--first-list'>Vote / Votes</td>
          <td class='modal-one-movie__table--second-list'>
            <span class='modal-one-movie__text-box-accent'>
              {{dataFixed.vote_average}}
            </span>
            <span class='modal-one-movie__text-box-secondary'>
              {{dataFixed.vote_count}}
            </span>
          </td>
        </tr>
        <tr class='modal-one-movie__table--row'>
          <td class='modal-one-movie__table--first-list'>Popularity</td>
          <td class='modal-one-movie__table--second-list'>{{dataFixed.popularity}}</td>
        </tr>
        <tr class='modal-one-movie__table--row'>
          <td class='modal-one-movie__table--first-list'>Genre</td>
          <td class='modal-one-movie__table--second-list'>
            {{#each dataFixed.genres}}
            {{name}}{{#unless @last}},{{/unless}}
            {{/each}}</td>
        </tr>
        <tr class='modal-one-movie__table--row'>
          <td class='modal-one-movie__table--first-list'>Original title</td>
          <td class='modal-one-movie__table--second-list uppercase-title'>{{dataFixed.original_title}}</td>
        </tr>
      </table>
      <div class='modal-one-movie__about-box'>
        <h4 class='modal-one-movie__about'>ABOUT</h4>
        <p class='modal-one-movie__about-text'>
          {{dataFixed.overview}}
        </p>
      </div>

      <div class='modal-one-movie__button-box'>
        <button class='global-button btn__watch' data-set='queue' aria-label='watched'>Add to watched</button>
        <button class='global-button btn__queue' data-set='watched' aria-label='queue'>Add to queue</button>
      </div>
    </div>
  </div>
</div>