{{#each this}}
<li class="gallery-list__item" data-id="{{id}}">
    <img class="gallery-list__img" src={{poster_path}} alt=" {{title}}">
    <div class="gallery-list__card">
        <h3 class="gallery-list__title">{{title}}</h3>
        <div class="gallery-list__info">
            <p class="gallery-list__genre">{{#if genres}}{{#each genres}}
                <a class="gallery-list__genre-link" href="">{{name}}{{#unless @last}},{{/unless}}</a>
                {{/each}}{{else}} - {{/if}}
            </p>
            <p class="gallery-list__year"> | {{#if release_date_year}} {{release_date_year}} {{else}} - {{/if}}</p>
            <p class="gallery-list__rate">{{vote_average}}</p>
        </div>
    </div>
</li>
{{/each}}